.profildiv {
    text-align: center;
    width: 80%;
    margin-top: 35px;
    margin-left: 10%;
    border: 2px solid rgb(237, 3, 140);
    border-radius: 15px;
    padding: 60px 60px;

    background-size: cover;
    background: url(resim/ai-generated-8630058_1920.jpg);
    background-position: center;
    overflow: hidden; 

    padding-top: 115px;

}

body {
    background: url(resim/ai-generated-8524928_1920.png);
    width: 100%;
    height: 100%;

    background-position: center;

}




.a1 {
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    background-color: #23b1d1;
    border: 2px solid rgba(255, 25, 2555, .2);
    backdrop-filter: blur(55px);
    box-shadow: 0 0 10px rgb(13, 216, 243);
    padding: 8px 12px;
}

.a1:hover {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(231, 238, 26);
    color: #7e06ff;
}

.profil {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.profil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;

}

.profil h2 {
    color: #282525;
    margin-top: 20px;
    font-size: 24px;
}

.profil p {
    color: #1d1c1c;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sosyal-medya {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.sosyal-medya li {
    display: inline-block;
    margin-right: 10px;

}

.sosyal-medya a {
    font-size: large;
    color: #fff;


}
.sosyal-medya a:hover {
    padding-right:11px;
    padding-left:11px;
   font-size: 21px;
  

    text-shadow: 2px 2px 5px rgb(79, 74, 74); 
    animation: colorchange 2s infinite;

}


  @keyframes colorchange {
    0% {
      color: rgb(195, 84, 11);
    }
    50% {
      color: rgba(7, 156, 164, 0.56);
    }
    100% {
      color: rgba(138, 33, 161, 0.782);
    }
  }

.sosyal-medya i {
    font-size: 24px;
    color: #000000;
}



.smedialink {

    padding: 2px 2px;
    width: 98%;
    margin-left: 1%;
    background: transparent;
    border: 2px solid rgba(255, 25, 2555, .2);
    backdrop-filter: blur(19px);
    box-shadow: 0 0 10px rgb(233, 106, 218);
    border-radius: 10px;
}




.pp {

    padding: 2px 2px;
    width: 40%;
    margin-left: 30%;
    background: transparent;
    border: 1px solid rgba(255, 25, 2555, .1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(176, 226, 214);
    border-radius: 80px;
    background-position: center;

}

.container {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
     height: auto;
    background: transparent;
    border: 1px solid rgba(255, 25, 2555, .1);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgb(176, 226, 214);


}
.container p{

font-weight: 400;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}
.slider {
    margin-top: 70px;
    width: 88%;
    margin-left: 6%;
    margin-bottom: 4px;
    border: 1px solid rgba(255, 25, 2555, .1);
    box-shadow: 0 0 10px rgb(176, 226, 214);
    height: 650px; 
    overflow: hidden;
    position: relative; 
}

.resimler {
    display: flex; 
    justify-content: space-between;
    transition: transform 0.7s ease; 

}

.resimler img {
    width: 100%; 
   height:auto;
}

.ileri, .geri {
    position: relative;
    padding: 10px 20px;
    
    margin: 10px;
    border: none;
    border-radius: 10%;
    width: 20%;
    margin-left: 20%;
}

.ileri {

    background-color: #23b1d1;
     box-shadow: 0 0 10px rgb(237, 230, 31);
    color: rgb(7, 7, 7);
}

.geri {
  
    background-color: #b5d349;
    box-shadow: 0 0 10px rgb(251, 255, 9);
    color: black;
}

.footer {
    
    text-align: right; 
    padding: 8px;


    background: url(resim/hob4.jpg);
   background-position: center;
    margin-top: 50px; }

.navbar-brand{
    color: red;
    margin-left: 20px;
    padding-right: 60%;
}

.navbar-brand:hover{


    
        color: #f00; 
        text-shadow: 2px 2px 5px rgb(146, 248, 221); 
        animation: colorchange 2s infinite;
}
      
      @keyframes colorchange {
        0% {
          color: rgb(255, 127, 42);
        }
        50% {
          color: rgba(0, 242, 255, 0.652);
        }
        100% {
          color: rgba(206, 41, 243, 0.782);
        }
      }
