body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    background: url(resim2/hakkımdaFon.jpg);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 244, 255, .1);
   
      backdrop-filter: blur(49px);

    

    box-shadow: 0 0 10px rgb(175, 215, 32);

}

h1 {
    padding-top: 100px;
    color: #000000;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #000000;
}

.portfolio-item {
    margin-bottom: 20px;
    margin-top: 70px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.portfolio-item h2 {
    font-size: 18px;
    color: #030202;
}

.portfolio-item p {
    font-size: 14px;
    color: #090909;
}


.resim6 {
    padding-right: 12px;

    width: auto;
    height: 190px;

}

#resim1 {

    width: 200px;
    margin-left: 2%;
    text-align: center;

}

.programresim {

    width: 350px;
    height: 190px;
    margin-left: 2%;
    text-align: center;

}

a{


    color: #ff0073;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a:hover{


    color: #09c29d;
}



.footer {
    
    text-align: right; /* Metni footer'ın ortasına hizala */
    padding: 8px;


    background: url(resim/hob4.jpg);
   background-position: center;
    margin-top: 50px; /* Footer'ı slider'ın altına yerleştir */
}
.navbar-brand{

    color: red;
    margin-left: 20px;
    padding-right: 60%;    
}
.navbar-brand:hover{


    
        color: rgb(255, 0, 0); /* Kırmızı */
        text-shadow: 1px 2px 4px rgb(161, 234, 161); /* Yeşil gölge */
        animation: colorchange 1s infinite;
}
      
      @keyframes colorchange {
        0% {
          color: rgb(210, 93, 14);
        }
        50% {
          color: rgba(15, 199, 209, 0.844);
        }
        100% {
          color: rgba(173, 9, 210, 0.782);
        }
      }

