/* Carousel container */
body{


    background:url(resim2/pexels-hngstrm-1939485\ \(1\).jpg );
    background-size: contain;
}



#carouselExampleRide {
    width: 60%;
    margin-left: 20%;
    margin: 0 auto;
    max-height: 600px;
    margin-top: 100px;

}

.carousel-item img {
    border-radius: 30px;
    width: 100%;
    max-height: 600px;
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3e%3cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.container {
    margin-top: 110px;
    width: 70%;
    background: #010101;
    height: max-content;
    margin-left: 3%;
    color: aliceblue;
    border-radius: 20px;
    padding: 60px;
}

.container p {

    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.soz1 {
    color: #fff;
    margin-top: 70px;
    margin-left: 1%;
    width: 80%;
    background: #a3a0a4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;

}

.card-img-top {

    background: #000;
    width: 540px;
    height: fit-content;
    margin-left: 40px;


}

.col-md-4 {
    background: #000;
    margin-top: 50px;
    width: 600px;


}

.soz2 {
    margin-top: 70px;
    margin-left: 1%;
    width: 80%;
    background: #ccc5c5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;

}


.footer {

    font-size: large;
    text-align: right;
    padding: 4px;
    font-weight: 500;
    ;
    background: url(resim/hob4.jpg);
    background-position: center;

}




@media (max-width: 500px) {


    .container {
        margin-left: 2px;
        width: 87%;
    }





    #carouselExampleRide {
        width: 86%;
        margin-left: 7%;
        margin-top: 100px;

    }


    .soz1 {

        width: 84%;


    }

    .soz2 {

        width: 84%;


    }



}

;

.navbar-brand {
    color: red;
    margin-left: 20px;
    padding-right: 60%;
}

.navbar-brand:hover {

    color: #f00;
    text-shadow: 2px 2px 5px rgb(146, 248, 221);
    animation: colorchange 2s infinite;
}

@keyframes colorchange {
    0% {
        color: rgb(255, 127, 42);
    }

    50% {
        color: rgba(0, 242, 255, 0.652);
    }

    100% {
        color: rgba(206, 41, 243, 0.782);
    }
}

.nav-item a:hover {

    color: #f00;
    font-size: large;


}