body {
  background:url(resim/abstract_pattern_design_background_2007.jpg);
  background-position: center;
  background-size: 70%;
  overflow-x: hidden;
  }


.container {
  z-index: -1;
  margin-top: 250px;
  flex: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 70%;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 50px;
}

#slide {
  width: 100%;
  margin-top: 50px;
}

.item {

  width: 100px;
  height: 150px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.7s;
  background-size: cover;
  position: absolute;
  top: 15%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 5px 5px #2c52fa;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 5px #2cfad8;


}

.item:nth-child(3) {
  left: 77%;
}

.item:nth-child(4) {
  left: calc(77% + 100px);
}

.item:nth-child(5) {
  left: calc(75% + 220px);
}

.item:nth-child(n+6) {
  left: calc(10% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: calc(100% + 20px);
  left: 10%;
  width: 80%;
  text-align: left;
  color: #f7f7f7;
  padding: 8px;
  border-radius: 20px;
  transform: translate(0, -50%);
  background: #f075b4;
  display: none;
  box-shadow: 0 4px 15px #e410e8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 1;
}




.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 0.5s ease-in-out 0.3s 1 forwards;
}


@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur();
  }
}

.buttons {
  display: flex;
  position:absolute;
  top: 700px;
  left: calc(50% - 50px);
  z-index: 1000;
  margin-top: 70px;
}

.buttons button {
  background: #50d7d7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}

.buttons button:hover {
  background-color: #bac383;
}


.navbar-brand {
  color: red;
  margin-left: 20px;
  padding-right :5%; ;
 
}
.nav-item a:hover {

  color: #f00;
  font-size: large;


}

.navbar-brand:hover {

  color: red;
  text-shadow: 2px 2px 5px rgb(146, 248, 221);
  animation: colorchange 2s infinite;
}

.container0 {
  width: 70%;
  background: #131616;
  height: max-content;
  margin-left: 3%;
  color: aliceblue;
  border-radius: 20px;
  padding: 60px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.container0 p {

  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.card-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 17px;



}

.col-md-4 {
  border-radius: 50px;
  width: 100%;
  height: fit-content;
}

.col-md-4 img {

  width: 100%;
  height: 100%;


}
.card-body{

  background: #e4dede;
}


.soz1 {
  color: #fff;
  margin-top: 70px;
  margin-left: 1%;
  width: 80%;
  background: #099483;
  border: 2px solid rgba(169, 176, 25, 0.951);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;

}

@keyframes colorchange {
  0% {
    color: rgb(255, 127, 42);
  }

  50% {
    color: rgba(0, 242, 255, 0.652);
  }

  100% {
    color: rgba(206, 41, 243, 0.782);
  }
}

.tarihi-ayrinti {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resim0 {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.metin {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

img {
  max-width: 10%;
  height: auto;
}




.footer {
  text-align: right;
  padding: 8px;
  background: url(resim/hob4.jpg);
  bottom: 0;
  background-position: center;
  width: 100%;

}



@media (max-width: 500px) {
  

  .container0 {


    width: 96%;
    margin-left: 2%;
    padding: 25px;
  }

  .container0 p {

    font-size: 17px;


  }

  .soz1 {

  
    width: 92%;



  }

  .soz1 h2 {

    font-size: 19px;


  }


  .container {
    margin-left: 0px;
    margin-top: 200px;
    max-width: 90%;



  }

  .container0 {
    width: 90%;
    margin-bottom: 100px;
  }

  .item .content {


    width: 100%;
    margin-top: 100px;
    height: fit-content;
    padding: 20px;
    margin-left: -40px;
  }


  .item {


    width: 80px;
    display: flex;
    margin-left: 10px;

  }


  .item:nth-child(3) {
    left: 7%;
  }

  .item:nth-child(4) {
    left: calc(7% + 50px);
  }

  .item:nth-child(5) {
    left: calc(7% + 40px);
  }






}